@charset "utf-8";
/* CSS Document */



article, aside, details, figcaption {
  display: block;
  
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }




blockquote {
    font-size: 0.875em;
    line-height: 1.714286;
    font-style: italic;
    font-weight: bold;
}


