.view_details_lightbox
{
background-color: #EAEAEA;
    box-shadow: 1px 1px 2px #888;
    height: auto;
	width:100%;
	border-radius:5px;
	
	
	
}

.view_details_lightbox #searchHeading{
	background:#1097e6;
	border-color: #0d78b6 #0d78b6 #0b689e;
	border-radius:5px 5px 0px 0px ;
	border-bottom:1px solid #888;
	height: 25px;
    padding-top: 6px;
}

.DescriptionBtn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 25px;
  line-height: 25px;
  padding: 0 20px;
  font-size: 13px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
}


.DescriptionBtn-red {
  background: #FF0033;
  border-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #25a5f0, #1097e6 66%, #0f8ad3);
  background-image: -moz-linear-gradient(top, #25a5f0, #1097e6 66%, #0f8ad3);
  background-image: -o-linear-gradient(top, #25a5f0, #1097e6 66%, #0f8ad3);
  background-image: linear-gradient(to bottom, #25a5f0, #1097e6 66%, #0f8ad3);
}
.Description-red:active {
  background: #FF0033;
  border-color: #ffffff;
}
